.chat-box {
	/* text-align: center; */
	background: rgb(241, 239, 239);
	border: solid 2px #34A6DC;
	/* width: 20vw; */
	height: 100vh;
	max-height: 100vh;
	border-style: 18px  inset  #d2e3ed;
	overflow-y: auto;
	padding-bottom: 200px;
}

.top-of-chat {
	position: absolute;
	background: rgb(241, 239, 239);
}

.gl-exit {
	color: rgb(17, 17, 17);
	opacity: .5;
	outline: none;
}

.gl-chat-bot-img {
	max-width: 280px;
	margin: 20px 0 20px 28px;
	/* position: fixed; */
}

.chat-dialogue {
	background: white;
	-moz-border-top-right-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;

	-moz-border-top-left-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	margin: 250px 20px 0px 20px;
	font-size: 20px;
	padding-right: 12px;
	/* overflow: scroll;  */
	/* height: xyz; */
	overflow-y: auto;
	min-height: 523px;
	max-height: 523px;
}

.close-container {
	display: flex;
	align-content: stretch;
	justify-content: center;
	text-align: right;
}

.gl-close-chat {

	/* text-align: right; */
	text-decoration: underline;
	border: none;
	font-size: 12px;
	cursor: pointer;
	outline: none;
	color: black;
	margin-left: 30px;
	/* float: right; */
	padding-right: 10px;
	background: none;
}

.gl-chat-div {
	margin: 4px 0 10px 0;
}

.gl-chatter-name {
	color: rgb(92, 91, 91);
	font-size: 14px;
	margin-bottom: 3px;
}

.to {
	text-align: right;
	word-wrap: break-word;
	color: green;
}

.from {
	color: blue;
	/* margin-top: 5px; */
	padding-left: 4px;
	/* border: 1px solid grey; */
}

.to, .from {
	margin: 0 0 0px 4px;
}

/* .gl-my-message {
	margin-right: 2px;
} */

.gl-my-message {
	background-color: #34A6DC;
	color: white;
}

.gl-robot-message {
	background: rgb(213, 213, 213);
	color: black;

}

.gl-my-message, .gl-robot-message {
	margin-top: 9px;
	padding: 2px 5px 2px 5px;
	-moz-border-bottom-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;

	-moz-border-bottom-right-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-right-radius: 12px;

	-moz-border-top-right-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-right-radius: 12px;

	-moz-border-top-left-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	border-top-left-radius: 12px;

	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
}

.gl-input-container {
	display: flex;
	align-content: center;
	/* justify-content: center; */
	align-items: center;
}

.gl-input {
	/* text-align: left; */
	position: fixed;
	font-size: 20px;
	bottom: 0;
	background: white;
	color: black;
	padding-bottom: 20px;
	margin-bottom: 13px;
	/* margin-right: 100px; */
	line-height: 20px;
	width: 17vw;
	outline: none;
	-moz-border-bottom-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;

	-moz-border-bottom-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
}


