.chat-box {
	text-align: center;
	background: rgb(241, 239, 239);
	border: solid 2px #34A6DC;
	/* width: 20vw; */
	height: 100vh;
	border-style: 18px  inset  #d2e3ed;
	overflow-y: auto;
}

.gl-exit {
	color: rgb(17, 17, 17);
	opacity: .5;
	outline: none;
}

.gl-chat-bot-img {
	max-width: 280px;
	margin: 20px 0 20px 28px;
	/* position: fixed; */
}

.chat-dialogue {
	margin-top: 250px;
}

.top-of-chat {
	position: absolute;
}