.gl-background {
		background-image: url("../assets/images/ow.png");
		background-repeat: no-repeat;
		height: 170vh;
		width: 100%;
}

.chatbox {
	position: fixed;
	right: 0;
	top: 0px;
	height: 100vh;
	bottom: 100px;
	transition: width .4s;
}

.gl-chatbox {
	display: none;
	width: 0;
}
